---
site_name: "LTRCOL-2004 Securing Webex with Identity Management, Zero Trust Encryption, and Data Compliance" # This must begin with the session ID, e.g. LABXXX-1234 This is my Cisco Live Lab
site_description: "LTRCOL-2004 Securing Webex with Identity Management, Zero Trust Encryption, and Data Compliance" # must be same as "site_name"
site_author: Scott Kiewert
copyright: Copyright &copy; 2025 Cisco
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.instant
    - navigation.top
    - navigation.footer
    - search.suggest
    - content.code.copy
    - toc.integrate
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: template_assets/cisco_logo.png
  favicon: template_assets/cisco_logo.png
extra:
  generator: false
  repo: "https://github.com/WebexCC-SA/WebexCC-SA/LTRCOL-2004.git"
  site_event: test
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - template_assets/js/newLoad.js
  - template_assets/js/setInfo.js
plugins:
  - search
  - macros
  # - with-pdf:
  #     cover_title: LABXXX-1234
  #     cover_subtitle: My famous WebexOne Lab
  #     cover_logo: template_assets/Wx1_25_PDF_image.jpg
  - glightbox:
      touchNavigation: true
      loop: false
      effect: fade
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: false
      skip_classes:
      - custom-skip-class-name
      auto_caption: true
      caption_position: top
markdown_extensions:
  - md_in_html
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - tables
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.tabbed:
      alternate_style: true
      
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
nav:
  - Home: index.md
  - Lab:
      - Introduction: introduction.md
      - Module 1 - Webex Identity: module1_identity.md
      - Module 2 - Webex Zero Trust Encryption: module2_zero_trust_encryption.md
      - Module 3 - Webex Compliance: module3_compliance.md
      - Conclusion: conclusion.md
      - Appendix: appendix.md
  - How to use this guide:
      - Setting up and using the tool:
        - Initial Setup: howToUse/initialSetup.md
        - Using the tool after the initial setup: howToUse/postInitial.md
        - Publishing your changes: howToUse/syncChanges.md
      - Styling and Advanced Features:
        - Markdown and Other References: howToUse/references.md
        - Custom Features: howToUse/customFeatures.md
        - Custom Admonitions: howToUse/admonition.md
 